{% extends "base.html" %}
{% load cms_tags %}

{% block content %}
    <div class="row">
        <div class="span8">
            {% placeholder 'col-1'  or %}
            Tekst zastępczy Tekst zastępczy
            Tekst zastępczy Tekst zastępczy
            Tekst zastępczy Tekst zastępczy
            {% endplaceholder %}
        </div>
    </div>
{% endblock %}
